{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
 * @package     mod_edusign
 * @copyright   2020 Learnatech <contact@learnatech.fr>
 * @license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<h2> {{#str}} home_title, mod_edusign {{/str}} </h2>
<p class="lead">
  {{#str}} home_info, mod_edusign {{/str}}
</p>
<br/><br/>
<input type="hidden" id="sessionid_edusign" value="{{#edusign}}{{sessionid_edusign}}{{/edusign}}"
<div class="content-fluid">
	<div class="row-fluid">
		<div class="col-6">
			<h3> {{#str}}teachers_list, mod_edusign{{/str}}</h3>
			<ul class="list-group list-group-flush">
			  {{#teachers}}
			  <li class="list-group-item">
			  	{{firstname}} {{lastname}}
			  	{{#sign_link}}
			  		<a href="{{sign_link}}" target="_blank">{{#str}}click_sign, mod_edusign{{/str}}</a>
			  	{{/sign_link}}
			  </li>
			  {{/teachers}}
			</ul>
		</div>
		<div class="col-6">
			<h3> {{#str}}students_list, mod_edusign{{/str}}</h3>
			<ul class="list-group list-group-flush">
			  {{#students}}
			  <li class="list-group-item">
			  	<input type="hidden" class="userid-edusign" value="{{userid_edusign}}"/>
			  	<input type="checkbox" name="input-send-mail" class="input-send-mail">
			  	<i class="send-mail send-one fa fa-paper-plane text-muted ml-3" title="{{#str}}send_one_mail , mod_edusign{{/str}}" aria-label="{{#str}}send_one_mail , mod_edusign{{/str}}"></i>
			  	<i class="fa fa-spinner fa-spin loading-icon d-none ml-3"></i>
			  	<span class="col-8">{{firstname}} {{lastname}} ({{email}})</span>
			  </li>
			  {{/students}}
			</ul>
			<button class="btn btn-primary text-center mx-auto d-block mt-4 send-mail send-all">
				<i class="send-mail ml-1 mr-3 fa fa-paper-plane" title="{{#str}}send_all_mails , mod_edusign{{/str}}" aria-label="{{#str}}send_all_mails , mod_edusign{{/str}}"></i>{{#str}}send_all_mails , mod_edusign{{/str}}
			</button>
		</div>
	</div>
</div>

{{#js}}
require(['core/ajax','jquery'], function(ajax,$) {
    $(document).ready(function(){
    	var sessionid_edusign = $('#sessionid_edusign').val();
    	/* Send mail with ajax function */
    	$('.send-mail').click(function(){
    		var li_parent = '';
    		var students_id = [];
    		if($(this).hasClass('send-all')){
	    		$('.input-send-mail:checked').parent('li').find('.userid-edusign').each(function(index,value){
	    			students_id.push($(this).val());
	    		});
	    		$('.input-send-mail:checked').parent('li').find('.send-mail').addClass('d-none');
	    		$('.input-send-mail:checked').parent('li').find('.loading-icon').removeClass('d-none');
    		}else{
    			students_id.push($(this).parent('li').find('.userid-edusign').val());
    			li_parent = $(this).parent('li');
    			li_parent.find('.send-mail').addClass('d-none');
	    		li_parent.find('.loading-icon').removeClass('d-none');
    		}
    		var promises = ajax.call([
	 		{ 
	                methodname: 'edusign_send_mail',
	                args: {
	                	edusign_info: [{course : sessionid_edusign , students : JSON.stringify(students_id) }]
	                }
	        }, 
	        ]);
	        promises[0].done(function(response) {
	            console.log('Done');
	            if(li_parent != ''){
	            	li_parent.find('.send-mail').removeClass('d-none');
	            	li_parent.find('.loading-icon').addClass('d-none');
	        	}else{
	        		$('.input-send-mail:checked').parent('li').find('.send-mail').removeClass('d-none');
		    		$('.input-send-mail:checked').parent('li').find('.loading-icon').addClass('d-none');
		    		$('.input-send-mail:checked').prop('checked',false);
	        	}
	        }).fail(function(ex) {
	           console.log('Fail');
	           console.log(ex);
	        });
    	});
    });
});
{{/js}}